.Table {
    text-align: center;
    margin: auto;
    width: 90%;
}
.Player,
.Position,
.Team,
.Age {
    height: 40px;
    background: lightgray;
}
.Player {
    width: 30%;
}
.Position {
    width: 30%;
}
.Team {
    width: 20%;
}
.Age {
    width: 10%;
}